html{
    font-size: 16px;
    min-height: 100%;
    height: 100%;
    font-family: "SF Pro display", Arial, sans-serif;
    color: #202020;
    box-sizing: border-box;

}

body{
    min-height: 100%;
    height: 100%;

}

body, h1, h2, h3, h4, ul, ol, li{
margin: 0;
padding: 0
}

ul, ol{
    list-style: none;
}

a {
  text-decoration: none;
    color: #202020;
}