@font-face {
    font-family: "Aleo";
    src: url("./assets/fonts/Aleo-Regular.otf") format("otf");
}

@font-face {
    font-family: "Mango Negra";
    src: url("./assets/fonts/WCManoNegraBoldBta.otf") format("otf");
}