@import'./mixins.styl';
@import'./variables.styl';
html
	margin 0
	padding 0
	font-size 16px
	font-family 'SF Pro display', Arial, Helvetica, sans-serif
	color $baseTextColor
	+xs-mobile()
		font-size 14px
	+mobile()
		font-size 14px
	+tablets()
		font-size 14px
	+desktop()
		font-size 16px
body
	padding 0
	margin 0
	background $bodyBg

ul
	padding 0
	margin 0

h1, h2, h3, h4
	margin 0
	padding 0

