@font-face {
	font-family: 'SF Pro text';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/sf-pro-text_regular.woff2') format('woff2');
}

@font-face {
	font-family: 'SF Pro text';
	font-style: bold;
	font-weight: 800;
	src: url('../assets/fonts/sf-pro-text_bold.woff2') format('woff2');
}

@font-face {
	font-family: 'SF Pro text';
	font-style: bold;
	font-weight: 600;
	src: url('../assets/fonts/sf-pro-text_semibold.woff2') format('woff2');
}


@font-face {
	font-family: 'SF Pro display';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/sf-pro-display_regular.woff2') format('woff2');
}

@font-face {
	font-family: 'SF Pro display';
	font-style: bold;
	font-weight: 600;
	src: url('../assets/fonts/sf-pro-display_semibold.woff2') format('woff2');
}

@font-face {
	font-family: 'SF Pro display';
	font-style: normal;
	font-weight: 400;
	src: url('../assets/fonts/sf-pro-display_light.woff2') format('woff2');
}

